.community-container {
    background-color: black;
    width: 100%;
}

.community-header {
    height: 70px;
    margin-top: 100px;
    flex-direction: column;

}

.com-title {
    color: white;
    font-size: 50px;
    font-weight: 800;
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.community-bar {
    display: flex;
    /* width: 80%; */
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
}

.premium-container {
    width: 100%;
    margin: 50px 0;
}

.cover {
    position: relative;
}

.video-link {
    /* margin: 0 auto; */
    /* display: flex; */
}

.btn-watch{
    position: absolute;
}

.top-logo {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px;
    transition: 0.4s;
    border-radius: 5px;
    transition: 0.4s;
}

.top-logo:hover{
    background-color: #ff7e00;
    cursor: pointer;
    transition: 0.4s;
}

.c-comp {
    margin: 5px;
}

.video-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 50px;
}

/* .vid-container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
} */

@media only screen and (max-width: 1100px){ 
    .video-list {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media only screen and (max-width: 960px){
    .video-list {
        grid-template-columns: repeat(2, 1fr)
    }
} 

@media only screen and (max-width: 768px){ 
    .video-list {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        padding: auto;
        margin-bottom: 60px;
        margin-top: 100px;
    }

    .community-header {
        margin-top: 70px;
        height: 0;
    }

    .post-imag-e {
        height: 82vh;
        width: 100%;
    }
    .video-link {
        /* margin: 0; */
        width: 100%;
    }

    .community-bar {
        border-top: 1px solid #808080;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        /* margin: 20px; */
        height: 60px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999;
        background: black;
    }
}

@media only screen and (max-width: 319px){ 
    .community-container {
        position: fixed;
    }
}
