.title {
    text-align: center;
    padding-top: 70px;
    color: white;
}

.film-container {
    background-color: #000;
    position: relative;
    opacity: 0.9;
}

.abouts-container{
    display: grid;
    grid-template-rows: 1fr;
    padding-bottom: 60px;
    background-color: black;
    color: white;
}


.film-description{
    width: 70%;
    margin: 0 auto;
}

.film-details{
    width: 70%;
    margin: 0 auto;
}

film-details > span > p{ 
    font-size: 25px;
    font-weight: 800;
}


.film-description > span{ 
    font-size: 23px;
}

.section-2 {
    display: flex;
    margin: 0 auto;
    width: 90%;
}

.banner {
    width: 90%;
    height: 40px;
    background-color: #ff7e00;
    margin: 0 auto;
}

.c-span {
    font-size: 17px;
    font-weight: 400;
}

.film-content-container {
    overflow-y: scroll;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.img {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 29px 10px 45px;
    border-radius: 15px;
}

.featured-jumbotron {
    position: fixed;
    height: 100%;
    width: 100%;
}

.glow:hover {
    box-shadow: 0px 1px 24px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 1px 24px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 1px 24px 0px rgba(255,255,255,0.75);
    transition: 0.2s;
}

.i-m-g{
    display: contents;
}

.second-div{
    color: white;
    display: flex;
    flex-direction: column;
}

.img > span {
    color: white;
    display: flex;
    position: absolute;
    font-size: 30px;
    font-weight: 800;
    top: 35px;
    left: 35px;
}


.desk {
    font-weight: 200;
    width: 100%;
    height: 250px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    justify-content: space-around;
    transition: 0.2s;
 
}

.desk:hover {
    color: #ff7e00;
    transition: 0.2s;
}

.desk:hover> .new-title {
    color: #ff7e00;
    transition: 0.2s;
}

.new-title {
    color: white;
    font-size: 40px;
    font-weight: 400;
}

.glow {
    height: 100%;
    width: 350px;
    margin: 30px 0;
    transition: 0.2s;
    border-radius: 10px;
    object-fit: cover;
}

ul > li {
    list-style-type: none;
    padding: 5px 0;
    font-size: 15px;
}


@media screen and (max-width: 900px) {
    .img {
        display: flex;
        flex-direction: column;
    }
   
} 


@media screen and (min-width: 0px) and (max-width: 359px) {
    .film-details > span > p{ 
        font-size: 15px;
        font-weight: 800;
    }  
    .film-details {
        justify-content: center;
        align-items: center;
    }
    .film-desc-title {
        font-size: 40px;
        font-weight: 800;
    }
}

@media screen and (min-width: 360px) and (max-width: 899px) {
    .film-desc-title {
        font-size: 50px;
        font-weight: 800;
        text-align: center;
    }
    .film-details > span > p{ 
        font-size: 15px;
        font-weight: 800;
    }  
}

@media screen and (min-width: 900px){
    .film-desc-title {
        font-size: 80px;
        font-weight: 800;
        text-align: center;
    }
    .film-details > span > p{ 
        font-size: 19px;
        font-weight: 800;
    }  
}

@media screen and (min-width: 601px) and (max-width: 970px) {
    .film-description > span {
        font-size: 20px;
    }
}

@media screen and (min-width: 431px) and (max-width: 600px) {
    .film-description > span {
        font-size: 18px;
    }
}

@media screen and (max-width: 431px) {
    .glow {
        width: 250px;
    }
    .film-description > span {
        font-size: 15px;
    }
}