 .App {
     background-color: #000;
     overflow: hidden;
 }

 .h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    display: block;
    text-align: center;
    margin: 50px 0;
 }

 .p {
    color: #fff;
    display: block;
    text-align: center;
 }