.listItem {
    width: 225px;
    height: 120px;
    background-color: black;
    color: #fff;
    margin-right: 15px;
    overflow: auto;
    cursor: pointer;
    z-index: 999;
    overflow-x: auto;
}

.listItem > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.1s;
}
 
.listItem:hover {
    width: 325px;
    height: 300px;
    position: absolute;
    top: -150px;
}

.listItem:hover > img{
    height: 140px;
    transition: 0.1s;
}

.listVideo {
    width: 100%;
    height: 140px;
    object-fit: cover;
    /* position: absolute; */
    /* top: 20px; */
    left: 0;

}

.itemInfo {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.itemIcons {
    display: flex;
    margin-bottom: 10px;
}

.itemIcon {
    border: 2px solid white;
    padding: 5px;
    border-radius: 50%;
    align-self: center;
    margin-right: 65px;
    font-size: 16px;
}

.orange {
    background-color: #ff7e00;
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.now {
    font-weight: 800;
}

.itemInfoTop {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}

.limit {
    border: 1px solid white;
    padding: 1px 3px;
    margin: 0 10px;
}

.caption {
    font-size: 13px;
    margin-bottom: 10px; 
}

.genre {
    font-size: 14px;
}