.modalBackgroun-d {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.356);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modalContaine-r {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.modd-image {
    position: absolute;
    color: #ff7e00;
    opacity: 0;
    top: 5px;
    padding: 40px;
    left: -30px;
    z-index: 999;
}

.modd-image:hover {
    cursor: pointer;
}

.modImage {
    position: relative;
    transition: 0.4s;
    width: min-content;
    cursor: pointer;
}

.moddLogo {
    position: absolute;
    left: 43px;
    top: 40px;
    color: rgba(255, 255, 255, 0.466);
    transition: 0.4s;
}

.label {
    font-size: 12px;

}

.mod-picture{
    width: 100px;
    height: 100px;
    border: 5px solid #ff7e00;
    border-radius: 50%;
    object-fit: cover;
}

.uploade-d{
    font-size: 12px;
    margin-left: 15px;
}


.modImage:hover .moddLogo{
    color: white;
    cursor: pointer;
    transition: 0.4s
}

.mod-container {
    margin-top: 30px
}

.mod-type {
    /* border: 1px solid black; */
    padding: 0 10px;
}

.mod-input {
    display: flex;
    padding: 10px 15px;
    width: 90%;
    margin: 10px auto;
}

.end {
    display: flex;
    padding: 0 15px;
    justify-content: end;
    align-items: center;
}

.update {
    margin-top: 10px;
    background-color: #ff7e00;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    transition: 0.4s;
}

.update:hover{
    cursor: pointer;
    transition: 0.4s;
    box-shadow: -1px 1px 7px -1px rgba(0,0,0,0.67);
    -webkit-box-shadow: -1px 1px 7px -1px rgba(0,0,0,0.67);
    -moz-box-shadow: -1px 1px 7px -1px rgba(0,0,0,0.67);
}