.login {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* .register-jumbotron{
    position: absolute;
    width: auto;
    height: 100%;
} */

.my-top-container {
    display: flex;
    /* position: absolute; */
    top: 0;
    justify-content: space-between;
    align-items: center;
}

.sign-form-container {
    width: 100%;
    /* position: absolute; */
    /* top: 230px; */
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-logo {
    margin-left: 20px;
    display: flex;
    font-weight: bold;
    font-size: 30px;
    color: #ff7e00;
    cursor: pointer;
    padding: 20px 10px;
    z-index: 1;
}

.my-signin-button{
    margin-right: 30px;
    padding: 20px 10px;
    z-index: 1;
}

.my-button {
    background-color: #ff7e00;
    text-align: center;
    padding: 7px 15px;
    border: none;
    color: white;
    cursor: pointer;
}

/* .log-login-form { */
    /* width: 50%; */
    /* height: 50px; */
    /* border-radius: 10px; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* background-color: transparent; */
    /* align-items: center; */
    /* border: 1px solid white; */
/* } */


.log-login-form {
    width: 50%;
    height: 50px;
    /* border-radius: 10px; */
    display: block;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    /* border: 1px solid white; */
}

.warning {
    color: white;
    font-weight: 600;
}

/* .log-login-input { */
    /* display: flex; */
    /* align-items: center; */
    /* height: 30px; */
    /* background-color: black; */
    /* opacity: 0.7; */
    /* flex: 9; */
    /* height: 100%; */
    /* padding: 0 10px; */
    /* outline: none; */
    /* border: none; */
    /* color: white; */
    /* border: 1px solid white; */
    /* border-radius: 15px; */
/* } */

.log-login-input {
    margin-bottom: 10px;
    width: 70%;
    border: 1px solid white;
}

.log-login-input::-webkit-input-placeholder{
    color: white;
}

.logins-button {
    background-color: black;
    text-align: center;
    height: 100%;
    flex: 3;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    width: inherit;
}

.login-button:hover{
    background-color: #ff7e00;
    border: none;
    transition: 0.2s;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.intro > span {
    color: white;
    font-size: 50px;
    font-weight: 100;
}

@media screen and (max-width: 915px) {
    .log-login-form {
        width: 50%;
        height: 40px;
        /* border-radius: 10px; */
        display: block;
        justify-content: space-between;
        background-color: transparent;
        align-items: center;
        /* border: 1px solid white; */
    }   
    .log-login-input {
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid white;
    }   

    
}




@media only screen and (min-width: 0px) and (max-width: 450px) {
    .intro > span {
        font-size: 20px;
        font-weight: 300;
        padding: 0px 20px;
        text-align: center;
    }
}

@media only screen and (min-width: 451px) and (max-width: 915px) {
    .intro > span {
        font-size: 30px;
        font-weight: 300;
        padding: 0px 20px;
        text-align: center;
    }
}

@media only screen and (min-width: 916px) {
    .intro > span {
        font-weight: 300;
        font-size: 40px;
        padding: 0px 20px;
        text-align: center;
    }
    .log-login-form {
        width: 50%;
        height: 40px;
        /* border-radius: 10px; */
        display: block;
        justify-content: space-between;
        background-color: transparent;
        align-items: center;
        /* border: 1px solid white; */
    }  
}

@media only screen and (min-width: 917px) and (max-width:1000px){
    .log-login-input {
        margin-bottom: 10px;
        width: 90%;
        border: 1px solid white;
    }
}

@media only screen and (min-width:1000px)  {
    .log-login-input {
        margin-bottom: 10px;
        width: 90%;
        border: 1px solid white;
    }
}

@media only screen and (min-width: 0px) and (max-width: 313px) {
    .sign-form-container {
        margin-top: 70px;
    }
    .my-top-container{
        flex-direction: column;
        justify-content: center;
    }
    .my-signin-button {
        margin-right: 0px;

    }
}

/* 190 pixels and below */
@media screen and (max-width: 190px) {
    .my-logo{
        font-size: 10px;
        margin: 0;
    }
}


