.post-imag-e{
    border: 1px solid #ffffff38;
    display: flex;
    height: 350px;
    margin: 30px 10px;
    position: relative;

}

.imagey-container {
    position: relative;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.imagey-image {
    object-fit: cover;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 5px;
}

.imagey-user {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.imagey-words {
    color: white;
    font-size: 14px;
    text-shadow: 1px 1px 3px rgb(5, 5, 5);
}

.post-imager-y{
    position: relative;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

@media only screen and (max-width: 960px){ 
    .post-imag-e {
        height: 350px;
        margin: 30px 10px;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 0.5px solid #504f4f;
    }   

}

@media only screen and (max-width: 768px){ 
    .post-imag-e {
        width: 100%;
        margin: 0;
    }
} 

